.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (max-width: 1219.98px) {
  .container {
    max-width: 992px;
  }
}
@media only screen and (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (max-width: 767.98px) {
  .container {
    max-width: 100%;
  }
}

@font-face {
  font-family: "Golos";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/GolosText-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/GolosText-Regular.woff") format("woff"), url("../../fonts/GolosText-Regular.ttf") format("truetype"), "../../fonts/GolosText-Regular.woff2" format("woff2");
}
@font-face {
  font-family: "Golos";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/GolosText-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/GolosText-Medium.woff") format("woff"), url("../../fonts/GolosText-Medium.ttf") format("truetype"), "../../fonts/GolosText-Medium.woff2" format("woff2");
}
@font-face {
  font-family: "Golos";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/GolosText-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/GolosText-SemiBold.woff") format("woff"), url("../../fonts/GolosText-SemiBold.ttf") format("truetype"), "../../fonts/GolosText-SemiBold.woff2" format("woff2");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img,
fieldset,
a img {
  border: none;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
}

input[type=submit],
button {
  cursor: pointer;
}
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
button {
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

html {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  font-family: "Golos";
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
}

@media (max-width: 991px) {
  .is-mobile {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .is-desktop {
    display: none !important;
  }
}

.base-title-green {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #1C9272;
}
@media (max-width: 767px) {
  .base-title-green {
    font-size: 30px;
    line-height: 36px;
  }
}

.base-title-light {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #ffffff;
}

.base-title-black {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #000000;
}
@media (max-width: 992px) {
  .base-title-black {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
  }
}

.base-subtitle {
  font-weight: 400;
  line-height: 20.8px;
  color: #343434;
}

.dobrograd {
  background-color: #F4F5F5;
  overflow: hidden;
}
.dobrograd__intro {
  position: relative;
  max-height: 770px;
  padding-top: 45px;
}
@media (max-width: 767px) {
  .dobrograd__intro {
    min-height: 912px;
    background-color: #1C9272;
  }
}
.dobrograd__intro-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .dobrograd__intro-video {
    display: none;
  }
}
.dobrograd__intro-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.dobrograd__intro-body {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
@media (max-width: 1199px) {
  .dobrograd__intro-body {
    width: 100%;
  }
}
.dobrograd__intro-start {
  display: flex;
}
@media (max-width: 767px) {
  .dobrograd__intro-start {
    flex-direction: column;
  }
}
.dobrograd__intro-start-child {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1199px) {
  .dobrograd__intro-start-child {
    width: 65%;
  }
}
@media (max-width: 991.98px) {
  .dobrograd__intro-start-child {
    width: 100%;
  }
}
.dobrograd__intro-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .dobrograd__intro-tabs {
    justify-content: unset;
    gap: 10px;
  }
}
.dobrograd__intro-tabs-child {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dobrograd__intro-tab {
  font-weight: 500;
  padding: 12px 20px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 100px;
}
@media (max-width: 576px) {
  .dobrograd__intro-tab {
    padding: 12px 15px;
    color: #000000;
    background-color: #F5BA0E;
  }
}
.dobrograd__intro-start-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 579px;
  padding: 50px 68px;
  background: rgba(0, 0, 0, 0.6);
}
@media (max-width: 992px) {
  .dobrograd__intro-start-info-wrapper {
    min-height: 480px;
    padding: 25px 20px;
  }
}
@media (max-width: 767px) {
  .dobrograd__intro-start-info-wrapper {
    padding: 17px;
    background-color: transparent;
  }
}
.dobrograd__intro-title {
  font-size: 65px;
  font-weight: 600;
  line-height: 78px;
  color: #ffffff;
}
@media (max-width: 992px) {
  .dobrograd__intro-title {
    font-size: 45px;
    line-height: 50px;
  }
}
@media (max-width: 576px) {
  .dobrograd__intro-title {
    font-size: 40px;
    line-height: 48px;
  }
}
.dobrograd__intro-subtitle {
  font-size: 20px;
  line-height: 32px;
  width: 100%;
  max-width: 570px;
  margin: 30px 0;
  color: #ffffff;
}
@media (max-width: 992px) {
  .dobrograd__intro-subtitle {
    margin: 15px 0;
  }
}
.dobrograd__intro-socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 576px) {
  .dobrograd__intro-social {
    max-width: 156px;
  }
}
.dobrograd__intro-social img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dobrograd__intro-bottom {
  display: flex;
  align-items: center;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .dobrograd__intro-bottom {
    display: none;
  }
}
.dobrograd__intro-bottom--mobile {
  display: none;
}
@media (max-width: 767px) {
  .dobrograd__intro-bottom--mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: unset;
    width: 100%;
  }
}
.dobrograd__intro-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 252px;
  padding: 30px;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .dobrograd__intro-info {
    min-width: 100%;
  }
  .dobrograd__intro-info:not(:last-child) {
    padding: 30px 30px 85px 30px;
  }
}
.dobrograd__intro-info--orange {
  background: #EC684F;
}
.dobrograd__intro-info--yellow {
  transform: translateX(-70px);
  background: #F5BA0E;
}
@media (max-width: 767px) {
  .dobrograd__intro-info--yellow {
    transform: translate(0, -65px);
  }
}
.dobrograd__intro-info--green {
  transform: translateX(-145px);
  background: #1C9272;
}
@media (max-width: 767px) {
  .dobrograd__intro-info--green {
    transform: translate(0, -135px);
  }
}
.dobrograd__intro-info-title {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}
.dobrograd__intro-info-subtitle {
  font-size: 14px;
  color: #ffffff;
}
.dobrograd__intro-img {
  width: 423px;
  height: 858px;
  z-index: 2;
}
@media (max-width: 1199px) {
  .dobrograd__intro-img {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .dobrograd__intro-img {
    display: none;
  }
}
.dobrograd__intro-img--mobile {
  display: none;
}
@media (max-width: 767px) {
  .dobrograd__intro-img--mobile {
    display: flex;
    width: 328px;
    height: 100%;
  }
}
.dobrograd__intro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dobrograd__intro-mobile {
  display: none;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .dobrograd__intro-mobile {
    display: flex;
    transform: translateY(-260px);
    height: 100%;
    max-height: 760px;
  }
}
.dobrograd__intro-mobile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.dobrograd__about {
  padding-top: 150px;
}
@media (max-width: 992px) {
  .dobrograd__about {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .dobrograd__about {
    padding: 30px 0;
    background-color: #ffffff;
    border-radius: 30px;
  }
}
.dobrograd__about-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background: #ffffff;
  border-radius: 30px;
}
@media (max-width: 700px) {
  .dobrograd__about-wrapper {
    flex-direction: column;
    padding: 30px 15px;
  }
}
.dobrograd__about-info {
  display: flex;
  flex-direction: column;
  max-width: 677px;
}
@media (max-width: 992px) {
  .dobrograd__about-info {
    max-width: 450px;
  }
}
@media (max-width: 576px) {
  .dobrograd__about-info {
    max-width: unset;
  }
}
.dobrograd__about-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #343434;
}
@media (max-width: 992px) {
  .dobrograd__about-title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 576px) {
  .dobrograd__about-title {
    font-size: 24px;
    line-height: 28.8px;
    max-width: unset;
  }
}
.dobrograd__about-subtitle {
  line-height: 25.6px;
  margin-top: 20px;
  margin-bottom: auto;
  color: #343434;
}
@media (max-width: 992px) {
  .dobrograd__about-subtitle {
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .dobrograd__about-subtitle {
    font-size: 16px;
  }
}
.dobrograd__about-gif {
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 317px;
  height: 317px;
}
@media (max-width: 1235px) {
  .dobrograd__about-gif {
    width: 200px;
  }
}
@media (max-width: 992px) {
  .dobrograd__about-gif {
    bottom: 10px;
    width: 150px;
    height: 240px;
  }
}
@media (max-width: 700px) {
  .dobrograd__about-gif {
    position: unset;
    width: 222px;
    height: 222px;
  }
}
.dobrograd__about-gif img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dobrograd__feedback {
  padding-top: 120px;
}
.dobrograd__feedback-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 85px;
  min-height: 668px;
  padding: 30px 30px 30px 0;
  background-image: url("../../images/feedback-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
}
@media (max-width: 992px) {
  .dobrograd__feedback-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .dobrograd__feedback-wrapper {
    gap: 30px;
    padding: 50px 15px;
    margin: 0 -15px;
    background-image: unset;
    background-color: #294292;
  }
}
.dobrograd__feedback-img-wrapper {
  transform: translate(20px, -70px);
}
@media (max-width: 992px) {
  .dobrograd__feedback-img-wrapper {
    transform: translate(20px, 30px);
  }
}
@media (max-width: 576px) {
  .dobrograd__feedback-img-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: unset;
  }
}
.dobrograd__feedback-img-mobile-wrapper {
  display: flex;
}
.dobrograd__feedback-img {
  width: 345px;
  height: 345px;
  background-image: url("../../images/avatar-bg.png");
  border-radius: 40px;
}
@media (max-width: 576px) {
  .dobrograd__feedback-img {
    display: none;
  }
}
.dobrograd__feedback-img--mobile {
  display: none;
  width: 320px;
  height: 320px;
}
@media (max-width: 576px) {
  .dobrograd__feedback-img--mobile {
    display: flex;
    background-image: unset;
  }
}
.dobrograd__feedback-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dobrograd__feedback-info {
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .dobrograd__feedback-info {
    align-items: center;
    padding: 20px;
  }
}
.dobrograd__feedback-thumb {
  position: absolute;
  top: 0;
  transform: translateY(-25px);
  font-size: 28px;
  line-height: 33px;
  width: fit-content;
  padding: 12px 40px;
  background: #F5BA0E;
  border-radius: 40px;
}
@media (max-width: 992px) {
  .dobrograd__feedback-thumb {
    left: 50%;
    transform: translate(-50%, -25px);
  }
}
@media (max-width: 576px) {
  .dobrograd__feedback-thumb {
    left: 50%;
    transform: translate(-50%, -25px);
  }
}
.dobrograd__feedback-start {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 45px;
}
@media (max-width: 992px) {
  .dobrograd__feedback-start {
    margin-top: unset;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .dobrograd__feedback-start {
    display: none;
  }
}
.dobrograd__feedback-start--mobile {
  display: none;
}
@media (max-width: 576px) {
  .dobrograd__feedback-start--mobile {
    display: flex;
    margin: 0 0 30px 0;
  }
}
.dobrograd__feedback-name {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: #ffffff;
}
@media (max-width: 576px) {
  .dobrograd__feedback-name {
    font-size: 24px;
    line-height: 28.8px;
  }
}
.dobrograd__feedback-profession {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
}
.dobrograd__feedback-desc {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin: 30px 0 25px 0;
  color: #ffffff;
}
@media (max-width: 992px) {
  .dobrograd__feedback-desc {
    font-size: 30px;
    line-height: 35px;
    margin: 15px 0;
  }
}
@media (max-width: 576px) {
  .dobrograd__feedback-desc {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 25px 0;
  }
}
.dobrograd__feedback-subtitle {
  line-height: 25px;
  color: #ffffff;
}
.dobrograd__tasks {
  padding: 70px 0;
}
.dobrograd__tasks-wrapper {
  display: flex;
  flex-direction: column;
}
.dobrograd__tasks-start {
  display: flex;
  justify-content: space-between;
}
.dobrograd__tasks-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #343434;
}
@media (max-width: 576px) {
  .dobrograd__tasks-title {
    font-size: 30px;
    line-height: 36px;
  }
}
.dobrograd__tasks-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 576px) {
  .dobrograd__tasks-actions {
    display: none;
  }
}
.dobrograd .custom-dots {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dobrograd .custom-dot {
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: rgba(41, 66, 146, 0.1490196078);
  border-radius: 50%;
}
.dobrograd .custom-dot.active {
  width: 24px;
  height: 24px;
  min-width: 24px;
  background-color: #294292;
}
.dobrograd__tasks-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  min-width: 36px;
  background: #ffffff;
  border-radius: 50%;
}
.dobrograd__tasks-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 34px;
}
@media (max-width: 576px) {
  .dobrograd__tasks-body {
    display: none;
  }
}
.dobrograd__tasks-body .slick-list {
  overflow: unset;
}
.dobrograd__tasks-body .slick-track {
  overflow: unset;
}
.dobrograd__tasks-body .slick-track:first-child .dobrograd__task--only-text {
  width: 538px !important;
}
.dobrograd__tasks-body .slick-track:first-child .dobrograd__task--text-gif {
  width: 660px !important;
}
.dobrograd__tasks-body .slick-track:nth-child(2) .dobrograd__task--only-text {
  width: 400px !important;
}
.dobrograd__tasks-body .slick-track:nth-child(2) .dobrograd__task--only-gif {
  width: 254px !important;
}
.dobrograd__tasks-body .slick-track:nth-child(2) .dobrograd__task--text-gif {
  width: 660px !important;
}
.dobrograd__tasks-body-mobile {
  display: none;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .dobrograd__tasks-body-mobile {
    display: block;
  }
}
@media (max-width: 576px) {
  .dobrograd__tasks-body-mobile .slick-slide {
    width: 248px !important;
  }
}
.dobrograd__tasks-body-mobile__tasks-slider-row {
  display: flex;
}
.dobrograd__tasks-body-mobile__tasks-slider-row .slick-arrow {
  display: none !important;
}
.dobrograd__tasks-body-mobile__tasks-slider-row .slick-track {
  display: block;
  gap: 30px;
}
.dobrograd__task {
  display: flex !important;
  height: 298px;
  padding: 20px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}
@media (max-width: 576px) {
  .dobrograd__task {
    min-width: 248px !important;
    height: 292px;
    padding: 20px 10px;
  }
}
@media (max-width: 576px) {
  .dobrograd__task--only-gif {
    display: none !important;
  }
}
.dobrograd__task-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dobrograd__task-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #353435;
}
@media (max-width: 576px) {
  .dobrograd__task-title {
    font-size: 20px;
    line-height: 25px;
  }
}
.dobrograd__task-desc {
  font-size: 20px;
  line-height: 30px;
  color: #555555;
}
@media (max-width: 576px) {
  .dobrograd__task-desc {
    font-size: 16px;
    line-height: 25.6px;
  }
}
.dobrograd__task-img {
  width: 274px;
  height: 273px;
  min-width: 274px;
}
@media (max-width: 576px) {
  .dobrograd__task-img {
    display: none;
  }
}
.dobrograd__task-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dobrograd__app-page {
  padding-bottom: 50px;
}
.dobrograd__app-page-wrapper {
  position: relative;
  display: flex;
  padding: 13px;
  background-color: #1C9272;
  border-radius: 40px;
}
@media (max-width: 1219.98px) {
  .dobrograd__app-page-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .dobrograd__app-page-wrapper {
    flex-direction: column;
    padding: unset;
    margin: 0 -15px;
  }
}
.dobrograd__app-page-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 568px;
  min-width: 568px;
  padding: 30px 30px 20px;
  background-color: #F5BA0E;
  border-radius: 27px;
}
@media (max-width: 1219.98px) {
  .dobrograd__app-page-info {
    max-width: 100%;
    min-width: 100%;
  }
}
@media (max-width: 767px) {
  .dobrograd__app-page-info {
    height: 405px;
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .dobrograd__app-page-info {
    min-width: 100%;
    min-height: 437px;
    height: fit-content;
  }
}
.dobrograd__app-page-texts {
  display: flex;
  flex-direction: column;
}
.dobrograd__app-page-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  max-width: 328px;
  margin-bottom: 28px;
  color: #000000;
}
@media screen and (max-width: 1219.98px) {
  .dobrograd__app-page-title {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .dobrograd__app-page-title {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: unset;
  }
}
@media (max-width: 767px) {
  .dobrograd__app-page-title {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 15px;
  }
}
.dobrograd__app-page-desc {
  font-size: 24px;
  line-height: 30px;
  max-width: 314px;
  color: #000000;
}
@media screen and (max-width: 1219.98px) {
  .dobrograd__app-page-desc {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .dobrograd__app-page-desc {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 767px) {
  .dobrograd__app-page-desc {
    font-size: 20px;
    line-height: 22.4px;
  }
}
@media (max-width: 576px) {
  .dobrograd__app-page-desc {
    font-size: 16px;
  }
}
.dobrograd__app-page-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1219.98px) {
  .dobrograd__app-page-actions {
    position: absolute;
    right: 25px;
    bottom: 25px;
  }
}
@media (max-width: 991.98px) {
  .dobrograd__app-page-actions {
    display: none;
  }
}
.dobrograd__app-page-actions--mobile {
  display: none;
}
@media (max-width: 991.98px) {
  .dobrograd__app-page-actions--mobile {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
    left: 50%;
    transform: translate(-50%, 30px);
  }
}
.dobrograd__app-page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  min-width: 36px;
  background-color: #ffffff;
  border-radius: 50%;
  outline: 6px solid #F4F5F5;
}
@media (max-width: 991.98px) {
  .dobrograd__app-page-button {
    width: 25px;
    height: 25px;
    min-width: 25px;
  }
}
.dobrograd .custom-dots-app {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dobrograd__app-page-slider {
  width: 748px !important;
  transform: translateX(-215px);
}
@media (max-width: 1219.98px) {
  .dobrograd__app-page-slider {
    transform: unset;
  }
}
@media (max-width: 992px) {
  .dobrograd__app-page-slider {
    align-self: center;
    width: 450px !important;
    height: 400px;
  }
  .dobrograd__app-page-slider .slick-list,
  .dobrograd__app-page-slider .slick-track {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .dobrograd__app-page-slider {
    display: none;
  }
}
.dobrograd__app-page-slider-mobile {
  display: none !important;
}
@media (max-width: 991.98px) {
  .dobrograd__app-page-slider-mobile {
    display: block !important;
    height: 100%;
    max-height: 980px;
    transform: translateY(-300px);
  }
}
.dobrograd__app-page-slider-mobile img {
  display: flex;
  height: 100%;
  object-fit: contain;
}
.dobrograd__app-page-slide {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 749px;
  max-height: 747px;
}
.dobrograd__app-page-slide--mobile {
  width: 360%;
}
@media (max-width: 991.98px) {
  .dobrograd__app-page-slide--mobile {
    display: flex !important;
    justify-content: center;
    height: 100% !important;
    max-height: 1300px;
  }
}
.dobrograd__app-page-slide-img {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 747px;
}
.dobrograd__app-page-slide-img img {
  height: 100%;
  object-fit: contain;
}
.dobrograd__app-page-slide-child {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  max-width: 346px;
}
.dobrograd__app-page-slide-child--history {
  top: 60px;
}
.dobrograd__app-page-slide-child--menu {
  top: 50%;
  transform: translateY(-70%);
}
.dobrograd__app-page-slide-child--notification {
  bottom: 125px;
}
.dobrograd__app-page-slide-child--search {
  top: 110px;
  right: 15px;
}
.dobrograd__app-page-slide-child--support {
  bottom: 230px;
  right: 15px;
}
.dobrograd__app-page-slide-child-badge {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  width: fit-content;
  padding: 6px 20px;
  color: #F5BA0E;
  background-color: #479a5e;
  border-radius: 50px;
}
.dobrograd__app-page-slide-child-text {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ffffff;
}
.dobrograd__stages {
  padding: 50px 0;
}
.dobrograd__stages-wrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.dobrograd__stages-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  color: #343434;
}
@media (max-width: 767px) {
  .dobrograd__stages-title {
    font-size: 30px;
    line-height: 37.5px;
  }
}
.dobrograd__stages-body {
  display: flex;
  justify-content: center;
  padding-top: 42px;
  border-top: 3px solid #1C9272;
}
@media (max-width: 767px) {
  .dobrograd__stages-body {
    overflow-x: scroll;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .dobrograd__stages-img {
    min-width: 1015px;
    height: 604px;
  }
}
.dobrograd__stages-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dobrograd__bills {
  padding-bottom: 30px;
}
.dobrograd__bills-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 894px;
  padding: 50px 44px 0;
  background-color: #F5BA0E;
  border-radius: 40px;
}
@media (max-width: 767px) {
  .dobrograd__bills-wrapper {
    max-height: fit-content;
    padding: 30px 15px;
    margin: 0 -15px;
  }
}
.dobrograd__bills-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 30px 30px 50px;
  background-color: #1C9272;
  border-radius: 27px;
}
@media (max-width: 992px) {
  .dobrograd__bills-start {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
.dobrograd__bills-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  width: 100%;
  max-width: 328px;
  color: #F4F5F5;
}
@media (max-width: 992px) {
  .dobrograd__bills-title {
    max-width: 100%;
  }
  .dobrograd__bills-title br {
    display: none;
  }
}
@media (max-width: 767px) {
  .dobrograd__bills-title {
    font-size: 30px;
    line-height: 36px;
  }
}
.dobrograd__bills-desc {
  font-size: 24px;
  line-height: 30px;
  max-width: 636px;
  color: #F4F5F5;
}
@media (max-width: 767px) {
  .dobrograd__bills-desc {
    font-size: 16px;
    line-height: 22.4px;
  }
}
.dobrograd__bills-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .dobrograd__bills-img {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .dobrograd__bills-img {
    display: none;
  }
}
.dobrograd__bills-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dobrograd__bills-slider {
  display: none;
  justify-content: center;
}
@media (max-width: 767px) {
  .dobrograd__bills-slider {
    display: block;
  }
}
.dobrograd__bills-slider .slick-list {
  width: 100vw;
  height: 375px;
}
.dobrograd__bills-slider .slick-track {
  width: 100%;
}
.dobrograd__bills-slide {
  width: 206px !important;
}
@media (max-width: 767px) {
  .dobrograd__bills-slide-img {
    width: 206px;
    height: 367px;
  }
}
.dobrograd__bills-slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dobrograd__callback {
  padding: 100px 0 30px 0;
}
@media (max-width: 992px) {
  .dobrograd__callback {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .dobrograd__callback {
    padding: 30px 0;
  }
}
.dobrograd__callback-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  padding-bottom: 42px;
  color: #343434;
  border-bottom: 5px solid #1C9272;
}
@media (max-width: 767px) {
  .dobrograd__callback-title {
    font-size: 30px;
    line-height: 36px;
  }
}
.dobrograd__callback-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "chat notification" "chat sporty" "contacts sporty" "contacts sporty";
  gap: 30px;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .dobrograd__callback-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 -15px;
  }
}
.dobrograd__callback-block {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
@media (max-width: 1199px) {
  .dobrograd__callback-block {
    min-width: 100%;
  }
}
@media (max-width: 767px) {
  .dobrograd__callback-block {
    min-width: 100%;
  }
}
.dobrograd__callback-block--chat {
  grid-area: chat;
  background-color: #1C9272;
}
@media (max-width: 767px) {
  .dobrograd__callback-block--chat {
    height: 362px;
  }
}
.dobrograd__callback-block--notifications {
  grid-area: notification;
  background-color: #EC684F;
}
@media (max-width: 767px) {
  .dobrograd__callback-block--notifications {
    height: 362px;
  }
}
.dobrograd__callback-block--contacts {
  grid-area: contacts;
  background-color: #F5BA0E;
}
@media (max-width: 767px) {
  .dobrograd__callback-block--contacts {
    height: 362px;
  }
}
.dobrograd__callback-block--sporty {
  grid-area: sporty;
  align-self: start;
  background-color: #1C9272;
}
.dobrograd__callback-block-img {
  display: flex;
  height: 100%;
}
@media (max-width: 1199px) {
  .dobrograd__callback-block-img {
    display: none;
  }
}
.dobrograd__callback-block-img--mobile {
  display: none;
}
@media (max-width: 1199px) {
  .dobrograd__callback-block-img--mobile {
    display: flex;
  }
}
.dobrograd__callback-block-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .dobrograd__callback-block-img img {
    object-fit: inherit;
  }
}
.dobrograd__callback-block-desc {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 10px 30px;
  border-radius: 27px;
}
@media (max-width: 767px) {
  .dobrograd__callback-block-desc {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 327px;
    font-size: 14px;
    line-height: 17.5px;
  }
}
.dobrograd__callback-block-desc--yellow {
  color: #343434;
  background-color: #F5BA0E;
}
.dobrograd__callback-block-desc--green {
  color: #F4F5F5;
  background-color: #1C9272;
}
.dobrograd__protect {
  padding-bottom: 30px;
}
.dobrograd__protect-wrapper {
  position: relative;
  height: 777px;
  background-image: url("../../images/protect-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 40px;
}
@media (max-width: 767px) {
  .dobrograd__protect-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 -15px;
    background-image: unset;
  }
}
.dobrograd__protect-info {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 480px;
  padding: 20px 50px 30px 20px;
  background-color: rgba(52, 52, 52, 0.6980392157);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 767px) {
  .dobrograd__protect-info {
    position: unset;
    max-width: 100%;
    padding: 20px 40px;
    transform: translateY(25px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: unset;
  }
}
@media (max-width: 575px) {
  .dobrograd__protect-info {
    padding: 15px;
  }
}
.dobrograd__protect-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
  color: #ffffff;
}
@media (max-width: 576px) {
  .dobrograd__protect-title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
  }
}
.dobrograd__protect-desc {
  line-height: 26px;
  color: #ffffff;
}
@media (max-width: 576px) {
  .dobrograd__protect-desc {
    line-height: 22px;
  }
}
.dobrograd__protect-img {
  display: none;
}
@media (max-width: 767px) {
  .dobrograd__protect-img {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
.dobrograd__protect-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dobrograd__interview {
  padding: 70px 0;
}
.dobrograd__interview-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  height: 668px;
  background-image: url("../../images/interview-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
}
@media (max-width: 992px) {
  .dobrograd__interview-wrapper {
    flex-direction: column;
    gap: 20px;
    height: 100%;
    background-image: unset;
  }
}
.dobrograd__interview-badge {
  position: absolute;
  top: 0;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  line-height: 33.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 33px;
  color: #000000;
  background-color: #F5BA0E;
  border-radius: 34px;
  white-space: nowrap;
}
@media (max-width: 1220px) {
  .dobrograd__interview-badge {
    transform: translate(-25%, -50%);
  }
}
@media (max-width: 992px) {
  .dobrograd__interview-badge {
    position: unset;
    transform: unset;
    width: 100%;
    font-size: 20px;
  }
}
.dobrograd__interveiw-chat {
  width: 379px;
  height: 777px;
  background-image: url("../../images/chat/chat-phone.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .dobrograd__interveiw-chat {
    display: none;
  }
}
@media (max-width: 992px) {
  .dobrograd__interview-chat-slider--desktop {
    display: none;
  }
}
.dobrograd__interview-chat-slider .slick-list {
  overflow: unset;
}
.dobrograd__interview-chat-slide {
  display: block;
  align-items: flex-end;
  max-width: 429px;
  max-height: 654px;
  transform: translateY(95px);
}
.dobrograd__interview-chat-slide--mobile {
  display: flex !important;
  justify-content: center;
  width: unset;
  height: 100%;
  max-width: unset;
  max-height: unset;
  transform: unset;
}
@media (max-width: 992px) {
  .dobrograd__interview-chat-slide--mobile {
    width: 312px;
  }
}
.dobrograd__interview-end {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .dobrograd__interview-end {
    align-items: center;
  }
}
.dobrograd__interview-info {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
@media (max-width: 1199px) {
  .dobrograd__interview-info {
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .dobrograd__interview-info {
    gap: 10px;
  }
}
.dobrograd__interview-mobile-slider {
  display: none;
  margin-top: 20px;
}
@media (max-width: 991.98px) {
  .dobrograd__interview-mobile-slider {
    display: block;
    width: 550px;
  }
}
@media (max-width: 576px) {
  .dobrograd__interview-mobile-slider {
    width: 100%;
    max-height: 600px;
  }
}
.dobrograd__interview-pretitle {
  font-weight: 500;
  line-height: 19px;
  color: #343434;
}
.dobrograd__interview-desc {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #7F7F7F;
}
@media (max-width: 1199px) {
  .dobrograd__interview-desc {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 992px) {
  .dobrograd__interview-desc {
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0%;
  }
}
.dobrograd__interview-actions {
  position: absolute;
  right: 60px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 172px;
}
@media (max-width: 992px) {
  .dobrograd__interview-actions {
    position: unset;
    justify-content: center;
    max-width: 100%;
    margin-top: 20px;
  }
}
.dobrograd .custom-dots-desktop,
.dobrograd .custom-dots-mobile,
.dobrograd .custom-dots-interview {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dobrograd .custom-dot {
  width: 16px;
  height: 16px;
  min-width: 16px;
  background-color: rgba(41, 66, 146, 0.1490196078);
  border-radius: 50%;
}
.dobrograd .custom-dot.active {
  width: 24px;
  height: 24px;
  min-width: 24px;
  background-color: #294292;
}
.dobrograd__interview-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  min-width: 36px;
  background: #ffffff;
  border-radius: 50%;
  outline: 8px solid #F4F5F5;
  outline-offset: 3px;
}
.dobrograd__technologies {
  padding: 95px 0;
}
@media (max-width: 992px) {
  .dobrograd__technologies {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .dobrograd__technologies {
    padding: 30px 0;
  }
}
.dobrograd__technologies-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 38px 30px;
  background-color: #ffffff;
  border-radius: 40px;
}
@media (max-width: 992px) {
  .dobrograd__technologies-wrapper {
    flex-direction: column;
    padding: 30px 15px;
    margin: 0 -15px;
  }
}
.dobrograd__technologies-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 512px;
}
@media (max-width: 992px) {
  .dobrograd__technologies-info {
    max-width: 100%;
  }
}
.dobrograd__technologies-img {
  position: absolute;
  right: 65px;
  width: 468px;
  height: 566px;
}
@media (max-width: 1219px) {
  .dobrograd__technologies-img {
    width: 340px;
    height: 415px;
  }
}
@media (max-width: 992px) {
  .dobrograd__technologies-img {
    display: none;
  }
}
.dobrograd__technologies-img--mobile {
  display: none;
}
@media (max-width: 992px) {
  .dobrograd__technologies-img--mobile {
    position: unset;
    display: flex;
    width: 260px;
    height: 910px;
  }
}
.dobrograd__technologies-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dobrograd__command {
  padding-top: 55px;
}
@media (max-width: 767px) {
  .dobrograd__command {
    padding-top: unset;
    padding-bottom: 30px;
  }
}
.dobrograd__command-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 35px 80px 0;
  background-color: #ffffff;
  border-radius: 40px;
}
@media (max-width: 992px) {
  .dobrograd__command-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
    margin: 0 -15px;
  }
}
@media (max-width: 992px) {
  .dobrograd__command-wrapper {
    align-items: center;
  }
}
.dobrograd__command-body {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 540px;
}
@media (max-width: 992px) {
  .dobrograd__command-body {
    flex-direction: column;
  }
}
.dobrograd__command-blocks-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .dobrograd__command-blocks-wrapper {
    position: unset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .dobrograd__command-blocks-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.dobrograd__command-blocks-wrapper--right {
  right: 0;
}
.dobrograd__command-blocks-wrapper--left {
  left: 0;
}
.dobrograd__command-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 440px;
}
@media (max-width: 1219.98px) {
  .dobrograd__command-info {
    transform: translateX(20px);
  }
}
@media (max-width: 992px) {
  .dobrograd__command-info {
    gap: 15px;
    max-width: 100%;
  }
}
.dobrograd__command-block {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 184px;
  border-radius: 16px;
  overflow: hidden;
}
@media (max-width: 1240px) {
  .dobrograd__command-block {
    width: 235px;
  }
}
@media (max-width: 767px) {
  .dobrograd__command-block {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .dobrograd__command-block--desktop {
    display: none;
  }
}
.dobrograd__command-block--mobile {
  display: none;
}
@media (max-width: 992px) {
  .dobrograd__command-block--mobile {
    display: flex;
  }
}
.dobrograd__command-block-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
  background-color: #ffffff;
}
.dobrograd__command-block-img {
  width: 255px;
  height: 100px;
  background-color: #F5BA0E;
}
@media (max-width: 767px) {
  .dobrograd__command-block-img {
    width: 100%;
  }
}
.dobrograd__command-block-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 992px) {
  .dobrograd__command-title br {
    display: none;
  }
}
.dobrograd__command-block-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #343434;
}
.dobrograd__command-block-profession {
  font-weight: 400;
  line-height: 20px;
  color: #7F7F7F;
}
.dobrograd__brand {
  padding-top: 120px;
}
@media (max-width: 992px) {
  .dobrograd__brand {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .dobrograd__brand {
    padding-top: 35px;
    padding-bottom: 28px;
    background-color: #F5BA0E;
    border-radius: 30px;
  }
}
.dobrograd__brand-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "a info info info large large" "b info info info large large" "secondary secondary c d e f";
  gap: 30px;
}
@media (max-width: 992px) {
  .dobrograd__brand-wrapper {
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .dobrograd__brand-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "info info" "large large" "a b" "c d" "secondary secondary" "e f";
  }
}
.dobrograd__brand-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 35px 58px 66px 38px;
  background-color: #F5BA0E;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .dobrograd__brand-info {
    padding: 30px;
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .dobrograd__brand-info {
    padding: unset;
  }
}
.dobrograd__brand-info--info {
  grid-area: info;
}
.dobrograd__brand-gif {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #ffffff;
}
.dobrograd__brand-gif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dobrograd__brand-gif--secondary {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  grid-area: secondary;
}
.dobrograd__brand-gif--large {
  width: 100%;
  height: 100%;
  grid-area: large;
}
.dobrograd__brand-gif-child {
  height: 167px;
}
.dobrograd__brand-gif-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dobrograd__scenary {
  padding-top: 26px;
}
.dobrograd__scenary-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  padding: 30px;
  border-radius: 27px;
  background-color: #1C9272;
}
@media (max-width: 992px) {
  .dobrograd__scenary-banner {
    flex-direction: column;
    align-items: flex-start;
  }
}
.dobrograd__scenary-banner-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  width: 328px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .dobrograd__scenary-banner-title {
    font-size: 30px;
    line-height: 36px;
  }
}
.dobrograd__scenary-banner-desc {
  font-size: 24px;
  line-height: 30px;
  width: 694px;
  color: #F4F5F5;
}
@media (max-width: 767px) {
  .dobrograd__scenary-banner-desc {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
}
.dobrograd__scenary-body {
  display: flex;
  justify-content: center;
  transform: translateY(-20px);
}
@media (max-width: 992px) {
  .dobrograd__scenary-body {
    overflow-x: scroll;
    justify-content: flex-start;
  }
}
.dobrograd__scenary-img {
  min-width: 1046px;
  height: 727px;
}
@media (max-width: 1199px) {
  .dobrograd__scenary-img {
    min-width: 950px;
  }
}
.dobrograd__scenary-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .dobrograd__scenary-img img {
    object-fit: contain;
  }
}
.dobrograd__palette-wrapper {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.dobrograd__palette-desc-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 992px) {
  .dobrograd__palette-desc-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
.dobrograd__palette-desc-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  height: 229px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #b7b8b8;
}
@media (max-width: 992px) {
  .dobrograd__palette-desc-child {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .dobrograd__palette-desc-child {
    gap: 10px;
    padding: 20px 10px;
  }
}
.dobrograd__palette-desc-child:nth-child(2) {
  width: 100%;
  max-width: 350px;
}
@media (max-width: 992px) {
  .dobrograd__palette-desc-child:nth-child(2) {
    max-width: 100%;
  }
}
.dobrograd__palette-desc-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #000000;
}
@media (max-width: 767px) {
  .dobrograd__palette-desc-title {
    font-size: 30px;
    line-height: 36px;
  }
}
.dobrograd__palette-desc-text {
  font-size: 16px;
  line-height: 22px;
  color: #343434;
}
.dobrograd__palette-desc-font-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dobrograd__palette-desc-font {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.dobrograd__palette-desc-font--bold {
  font-weight: 700;
}
.dobrograd__palette-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
@media (max-width: 767px) {
  .dobrograd__palette-body {
    gap: 10px;
  }
}
.dobrograd__palette-colors-wrapper {
  display: flex;
  gap: 30px;
  width: 100%;
}
@media (max-width: 1199px) {
  .dobrograd__palette-colors-wrapper {
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .dobrograd__palette-colors-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.dobrograd__palette-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 170px;
  height: 257px;
  padding: 36px 30px;
  color: #ffffff;
  border-radius: 40px;
  transition: all 0.3s ease;
}
@media (max-width: 992px) {
  .dobrograd__palette-color {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .dobrograd__palette-color {
    align-items: center;
    width: 100%;
    height: 78px;
    padding: 10px 40px;
  }
}
.dobrograd__palette-color--large {
  width: 350px;
  background-color: #1C9272;
}
@media (max-width: 1199px) {
  .dobrograd__palette-color--large {
    width: 255px;
  }
}
@media (max-width: 992px) {
  .dobrograd__palette-color--large {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .dobrograd__palette-color--large {
    width: 150px;
  }
}
.dobrograd__palette-color--medium {
  width: 255px;
  color: #000000;
  background-color: #7F7F7F;
}
@media (max-width: 1199px) {
  .dobrograd__palette-color--medium {
    width: 175px;
  }
}
@media (max-width: 992px) {
  .dobrograd__palette-color--medium {
    width: 100%;
  }
}
.dobrograd__palette-color--empty {
  width: 65px;
  background-color: #b7b8b8;
}
@media (max-width: 992px) {
  .dobrograd__palette-color--empty {
    width: 100%;
  }
}
.dobrograd__palette-color--small {
  width: 160px;
  height: 172px;
  color: #000000;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .dobrograd__palette-color--small {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .dobrograd__palette-color--small {
    height: 78px;
  }
}
.dobrograd__palette-color--small:nth-child(2) {
  background-color: transparent;
  border: 1px solid rgba(183, 184, 184, 0.5019607843);
}
.dobrograd__palette-color--thin {
  max-width: 80px;
}
@media (max-width: 767px) {
  .dobrograd__palette-color--thin {
    max-width: unset;
  }
}
.dobrograd__palette-color--green {
  background-color: #1c9272;
}
.dobrograd__palette-color--orange {
  background-color: #EC684F;
}
.dobrograd__palette-color--yellow {
  color: #000000;
  background-color: #F5BA0E;
}
.dobrograd__palette-color--red {
  background-color: #FF4026;
}
.dobrograd__palette-color--blue {
  background-color: #294292;
}
.dobrograd__palette-color--black {
  color: #ffffff;
  background-color: #000000;
}
.dobrograd__palette-color--gray {
  color: #ffffff;
  background-color: #343434;
}
@media (max-width: 767px) {
  .dobrograd__palette-color--desktop {
    display: none;
  }
}
.dobrograd__palette-color--mobile {
  display: none;
}
@media (max-width: 767px) {
  .dobrograd__palette-color--mobile {
    display: flex;
  }
}
.dobrograd__palette-color-title {
  text-overflow: ellipsis;
  overflow: hidden;
}
.dobrograd__palette-color-info {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 767px) {
  .dobrograd__palette-color-info {
    display: flex;
  }
}
.dobrograd__footer {
  padding-top: 50px;
}
.dobrograd__footer-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 40px;
  background-color: #294292;
  border-radius: 40px;
}
@media (max-width: 767px) {
  .dobrograd__footer-wrapper {
    padding: 25px 15px;
    margin: 0 -15px;
    border-radius: unset;
  }
}
.dobrograd__footer-img {
  position: absolute;
  left: 7px;
  bottom: 0;
  display: flex;
}
@media (max-width: 1219.98px) {
  .dobrograd__footer-img {
    width: 235px;
  }
}
@media (max-width: 1199px) {
  .dobrograd__footer-img {
    display: none;
  }
}
.dobrograd__footer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dobrograd__footer-info {
  display: flex;
  flex-direction: column;
  gap: 41px;
  width: 688px;
  height: 311px;
}
@media (max-width: 1199px) {
  .dobrograd__footer-info {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .dobrograd__footer-info {
    gap: 10px;
    width: 100%;
    height: 100%;
  }
}
.dobrograd__footer-info-top {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.dobrograd__footer-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #ffffff;
}
.dobrograd__footer-desc {
  font-size: 18px;
  line-height: 22.5px;
  color: #ffffff;
}
.dobrograd__footer-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .dobrograd__footer-actions {
    flex-direction: column;
    margin-top: 20px;
  }
}
.dobrograd__footer-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 20px 30px;
  color: #ffffff;
  border-radius: 12px;
  border: 1px solid #F5BA0E;
  text-decoration: unset;
  transition: border-color 0.3s ease-in-out;
}
.dobrograd__footer-link:hover {
  border-color: #fbd824;
}
@media (max-width: 991px) {
  .dobrograd__footer-link {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .dobrograd__footer-link {
    justify-content: center;
    width: 100%;
  }
}
.dobrograd__footer-link:first-child {
  max-width: 176px;
  color: #000000;
  background-color: #F5BA0E;
  transition: background-color 0.3s ease-in-out;
}
.dobrograd__footer-link:first-child:hover {
  background-color: #fbd824;
}
.dobrograd__footer-link:first-child:focus-visible {
  background-color: #fce74d;
}
@media (max-width: 767px) {
  .dobrograd__footer-link:first-child {
    max-width: 100%;
    order: 3;
  }
}

/*# sourceMappingURL=style.css.map */
