$color-green: #1C9272;
$color-orange: #EC684F;
$color-red: #FF4026;
$color-yellow:#F5BA0E;
$color-blue: #294292;
$color-white: #ffffff;
$color-light-gray: #F4F5F5;
$color-gray: #7F7F7F;
$color-mid-gray: #555555;
$color-dark-gray: #343434;
$color-darker-gray: #353435;
$color-black: #000000;
$color-black-60: #00000099;
$color-border: #D7D7D7;
